a{
  text-decoration: none;
}

/* Design Area */

body {
  background-color: #555a5c;
  font-family: "Noto Sans" , sans-serif;
}

     .login-wrapp {
background-color: #555a5c;
width: 600px;
margin:50px auto;
border-bottom: 1px solid #fdeafd;
box-shadow: 0px 11px 31px rgba(0, 0, 0, 0.3);
}

.login-top{
background-color: #000000;
padding: 60px 0 120px;
text-align: center;
}

.login-box {
  background-color: #ffffff;
  margin: -40px 40px 40px;
  border-radius: 20px;
  padding: 20px 40px 40px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}

.login-title {
  font-size: 30px;
  color:#000000;
  text-align: center;
  font-weight: 400;
}

.login-form {
  margin-top: 30px;
}

.login-form li:first-child{
  margin-bottom: 25px;

}

.login-guide {
  font-size: 12px
  color: #d4c4d4;
  font-weight: 400;
}

.login-form input {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e5d1e5;
  background-color: #fdeafd;
  padding: 22px 2px 4px
  color: #764d76;
  font-size: 14px

}

.login-submit {
  background-color: #e32fe5;
  width: 300px;
  display: block;
  margin: 30px auto;
  height: 70px;
  line-height: 70px;
  border-radius: 80px;
  color: #fdeafd;
  font-size: 16px;
  font-weight: 700

}

.login-submit:hover {
  background-color: #bf3ac1;
}

.login-subit:active {
  background-color: #4c124d;
}
a.login-guide {
  display: inline-block;
}
